.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
  color: #213547;
  text-align: center;
}

.title {
  font-size: 4rem;
  margin-bottom: 2rem;
  font-family: 'Arial', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  background: linear-gradient(to right, #007CFF, #00E0ED, #00DA72);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.intro-text {
  font-size: 1.2rem;
  margin-bottom: 3rem;
  color: #555;
  line-height: 1.6;
}

.login-btn {
  
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(9, 9, 9);
  background: transparent;
  border: 2px solid #00E0ED;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
}

.login-btn:hover {
  background: #00E0ED;
  color: black;
  box-shadow: 0 0 20px rgba(0, 224, 237, 0.5);
}
